<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <a class="navbar-brand m-0 p-0" href="#">dotnet app</a>

    <div class=" m-0 p-0 container">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="(accountServices.currentUser$ | async) as user">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">msgs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/member/edit" routerLinkActive="active">edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *appHasRole="['Admin','Mod']" routerLink="/admin"
                        routerLinkActive="active">admin</a>
                </li>
                <li class="nav-item" (click)="logout()">
                    <a class="nav-link">logout</a>
                </li>
                <li class="nav-item d-flex">
                    <p class="nav-link ms-1 m-0">Welcome {{user.knownAs | titlecase}}</p>
                    <img src="{{user.photoUrl || './assets/user.png'}}" alt="userPhoto">
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active">error</a>
            </li>
        </ul>
        <form [formGroup]="ngform" class="d-flex" (ngSubmit)="login()" autocomplete="off"
            *ngIf="!(accountServices.currentUser$ | async)">
            <input formControlName="userName" class="form-control me-2" type="text" placeholder="Username"
                name="userName">
            <input formControlName="password" class=" form-control me-2" type="password" placeholder="password"
                name="password ">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>



</nav>