<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center mg-3">
    <h2>your matches - {{pagination?.totalItems}} found</h2>
</div>
<div class="container mt-3" *ngIf="userParams">
    <form class="d-flex mb-3" [formGroup]="filterForm" autocomplete="off" (submit)="loadMembers()">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input type="number" min="18" max="99" class="form-control ms-1" style="width: 70px;"
                formControlName="minAge">
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age to:</label>
            <input type="number" min="18" max="99" class="form-control ms-1" style="width: 70px;"
                formControlName="maxAge">
        </div>
        <div class="d-flex px-2">
            <label class="col-form-label me-2">Show: </label>
            <select name="gender" formControlName="gender" style="width: 130px" class="form-select ms-1">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary ms-1" type="submit" (click)="setUserParams()">Apply Filters</button>
        <button class="btn btn-primary ms-1" type="button" (click)="resetFilters()">Reset Filters</button>
        <div class="col">
            <div class="btn-group float-end">
                <button class="btn btn-primary btn-radio" name="orderBy" (click)="orderMembersBy('lastActive')"
                    btnRadio="lastActive" type="button" formControlName="orderBy">Last Active</button>
                <button class="btn btn-primary btn-radio" name="orderBy" (click)="orderMembersBy('created')"
                    btnRadio="Created" type="button">Newest Memebers</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="false" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
        firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>