<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center mt-3">
    <h2>{{predicate=='liked' ? 'Members I Like' : 'Members who like me'}}</h2>
    <div class="container mt-3">

        <div class="d-flex">
            <div class="btn-group" name="predicate">
                <button class="btn btn-primary" btnRadio="liked" (click)="loadLikes('liked')">
                    Members I Like
                </button>
                <button class="btn btn-primary" btnRadio="likedBy" (click)="loadLikes('likedBy')">
                    Members Who Like Me
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2" *ngFor="let member of members">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="false" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
        firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>